@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300&display=swap');
<head>
<link rel="stylesheet" href="fonts.googleapis.com/css2?family=Readex+Pro:wght@300&display=swap">
<style>
h1.a {font-family: "Audiowide", sans-serif;}
h1.b {font-family: "Sofia", sans-serif;}
h1.c {font-family: "Trirong", serif;}
</style>
</head>
body {
  font-family: "Comfortaa", serif;
  font-size: 100%;
  line-height: 175%;
  margin: 0 0 0;
  background-color: #FFA846;
  text-align: center;
}
header {
  padding: 2em 1em 1em 2em;
  text-align: center;
  background-color: #FFC300 ;
}
ul {
  text-align: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
h1 {
  font-size: 50px
}
h2 {
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: .2em;
  text-align: center;
  color: black
}
h3 {
  margin-top: 0;
  padding: 1em 1em 1em 2em;
  text-align: center;
  background-color: #FEC585;
  text-align: center; }
.price {
    font-style: italic;
  }
  strong {
    font-style: italic;
  }
  p {
    text-align: center;
  }
