@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300&display=swap');
body {
   font-family: "Lucida Console", Courier, monospace;
  max-width: 840px;
  margin-left: auto;
  margin-right: auto;
  padding: 2em;
  background-color: #DCD7DD;
  background-image:	url(Back.PNG);
  background-position: center 100px;
  background-attachment: fixed;
  background-size: 15%;
  background-repeat:no-repeat;
  background-opacity: 75%;

}



h1 {
   font-family: "Lucida Console", Courier, monospace;
  font-weight: 700;
  font-size: 3em;
  text-align: center;

}

h2 {
  color: #6A596D;
}

p.intro {font-size: 1.25em}

a {
  color: black;
}
  a:hover {
    color: #6A596D ;
}
  a:visited {
    color: gray;
}

div.gallery {
  max-width: 675px;
  margin-left: auto;
  margin-right: auto;
}

  div.gallery img {
    margin: 10px;
    border-radius: 5%;
  }

    div.gallery img:hover {
      transform: scale(1.25);
      transition: all 0.5s;
    }
img.fullsize {
  height: 80vh;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

ul {

}
ul.links {
  list-style: none;
  padding-left:20px;
  font-size: 1.1em;
  font-weight:600;

}
